<div class="top-hero-container">
  <div class="container">
    <h1>ホーム</h1>
    <div class="row">
      <div class="col-md-6">
        <%= link_to containers_index_path do %>
          <%= image_tag "cat-4626681_1920.jpg", class: "home_image" %>
          <div class="text-center home_image_text">
            コンテナ画面へ移動
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= link_to images_index_path do %>
          <%= image_tag "cat-4626682_1920.jpg", class: "home_image" %>
          <div class="text-center home_image_text">
            イメージ画面へ移動
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <br>
        <br>
        <h3>◆進捗状況（8/1 ~ 8/7）</h3>
        <p class="text_size_20">
        ・ログ出力フォーマット修正（rails Logger機能利用）<br>
        ・イベント画面で検索機能を追加<br>
        </p>
      </div>

      <div class="col-md-6">
        <br>
        <br>
        <h3>◆要対応</h3>
        <p class="text_size_20">
        ・その他<br>
        </p>
      </div>
    </div>
  </div>
</div>
    