<div class="top-hero-container">
  <div class="container">
    <h1>ホーム</h1>
    <div class="row">
      <div class="col-md-6">
        <%= link_to containers_index_path do %>
          <%= image_tag "cat-4626681_1920.jpg", class: "home_image" %>
          <div class="text-center home_image_text">
            コンテナ画面へ移動
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= link_to images_index_path do %>
          <%= image_tag "cat-4626682_1920.jpg", class: "home_image" %>
          <div class="text-center home_image_text">
            イメージ画面へ移動
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <br>
        <br>
        <h3>◆進捗状況（8/30 ~ 9/12）</h3>
        <p class="text_size_20">
        ・イベント画面 日付検索機能実装<br>
        ・イベント画面 CSVダウンロード機能実装<br>
        ・メール送信機能追加（ログイン、ログアウト時）<br>
        ・<br>
        </p>
      </div>

      <div class="col-md-6">
        <br>
        <br>
        <h3>◆要対応</h3>
        <p class="text_size_20">
        ・「config/credentials.yml.enc」ignore方法<br> 
        ・エラー確認（docker）<br>
        ・イベント画面_ストロングパラメータ対応<br>
        </p>
      </div>
    </div>
  </div>
</div>
    