<div class="top-hero-container">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        test<br>
      </div>
      <div class="col-md-2 managements-backgroud">
        test2<br>
      </div>
    </div>
  </div>
</div>
    